html {
--com-benkeil-user-color-pairs-1-background: rgb(255,255,255);
--com-benkeil-user-color-pairs-1-text: rgb(0,0,0);
--com-benkeil-user-color-pairs-2-background: rgb(0,0,0,0.3);
--com-benkeil-user-color-pairs-2-text: rgb(255,167,132);
}